@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<header>
	<div class="uk-container">
		<nav class="uk-navbar">
			<div class="uk-navbar-left">
				<a class="uk-navbar-item uk-logo uk-padding-remove-left uk-text-bold uk-text-primary" href="#">Cento</a>
			</div>

			<div class="uk-navbar-right">
				<ul class="uk-navbar-nav">
					<li id="contact-link" class="uk-active"><a href="#contact">Contact us</a></li>
				</ul>
			</div>
		</nav>
	</div>
</header>
@{
}
