<footer>
	<section>
		<div class="uk-section uk-section-large uk-section-secondary">
			<div class="uk-container">
				<div class="uk-grid-medium uk-child-width-1-2@s uk-margin-large-bottom uk-flex uk-flex-middle" uk-grid>
					<div>
						<h2 class="uk-text-bold uk-heading-small">Join the early access</h2>
						<p class="uk-text-large">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis amet natus vel optio ut, est?</p>
					</div>
					<div class="uk-text-right@s">
						<button class="uk-button uk-button-primary uk-button-large uk-border-rounded uk-width-medium@s uk-text-bold">Get early access</button>
					</div>
				</div>
				<hr>

				<div class="uk-grid-medium uk-child-width-1-3@s" uk-grid>
					<div>
						<a class="uk-logo uk-padding-remove-left uk-text-bold" href="#">Cento</a>
					</div>
					<div class="uk-text-center@s">
						<a href="" class="uk-icon-button uk-margin-small-right" uk-icon="twitter"></a>
						<a href="" class="uk-icon-button uk-margin-small-right" uk-icon="facebook"></a>
						<a href="" class="uk-icon-button" uk-icon="youtube"></a>
					</div>
					<div class="uk-text-right@s">
						<a class="uk-link-text uk-h3" href="mailto:hi@cento.com">hi@cento.com</a>
					</div>
				</div>

				@await Html.PartialAsync("_ContactForm", new myTeam.Models.Contact())

			</div>
		</div>
	</section>
</footer>
