@* @model IEnumerable<myTeam.Models.Contact> *@


 @{ 
    ViewData["Title"] = "Admin Dashboard"; 
 } 

<div class="px-3 border-b">
    <form action="" class="flex">
        <input class="p-3 flex-1" type="text" placeholder="search">
        <button type="submit" class="p-3">
            <i class="fad fa-search"></i>
        </button>
    </form>
</div>

<div class="flex-1 flex flex-col">
    @foreach (var item in Model)
    {
        <!-- message -->
        <a asp-controller="Admin" asp-action="Details" asp-route-id="@item.Id" class="detail-button">
            <div class="flex items-center shadow-xs transition-all duration-300 ease-in-out p-5 hover:shadow-md">
                <div class="w-10 h-10 overflow-hidden rounded-md">
                    <img class="img-responsive" src="img/user1.jpg" alt="">
                </div>
                <h1 class="ml-3">@item.Name</h1>
                <p class="ml-6 flex-1 text-xs">@item.Title</p>
                <p class="font-bold text-gray-900">@item.DateTime</p>
            </div>
        </a>
        <!-- message -->
    }
</div>

<div class="card-footer flex justify-between">
    <p>4.41 GB (25%) of 17 GB used Manage</p>
    <p>Last account activity: 36 minutes ago</p>
</div>
